<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>NOE Tourismus</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static.css/style.css"><!-- CSS EINBINDUNG ACHILL -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#pageSize').change(function() {
                // Das Formular automatisch absenden, wenn eine neue Option ausgewählt wird
                this.form.submit();
            });

            // Setzen Sie den ausgewählten Wert basierend auf dem gespeicherten Wert im localStorage
            // oder dem Wert, der vom Server zurückgegeben wird (falls implementiert)
            var storedSize = localStorage.getItem('selectedSize') || '10'; // Standardwert ist 10
            $('#pageSize').val(storedSize);

            // Speichern des ausgewählten Werts im localStorage, wenn das Formular abgesendet wird
            $('#pageSize').on('change', function() {
                localStorage.setItem('selectedSize', $(this).val());
            });
        });
    </script>
</head>
<body>
<div class="topnav">
    <a class="active" href="#home">Home</a>
    <a href="#news">Button Import</a>
    <a href="#contact">Statistics as PDF</a>
    <a href="#help">Help</a>
</div>

<h2>Overview of Hotels</h2>

<!-- Das Formular zur Auswahl der Seitengröße -->
<!-- Codeanfang_#1_Achill_10.03.2024_Overview Of Hotels -->
<form action="/index" method="get">
    <label for="pageSize">Hotels per Page:</label>
    <select name="size" id="pageSize">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="200">200</option>
        <option value="500">500</option>
        <option value="1000">1000</option>
        <option value="2000">2000</option>
    </select>
</form>

<table border="1">
    <thead>
    <tr>
        <th>Nr.</th>
        <th>Category</th>
        <th>Name</th>
        <th>Owner</th>
        <th>Contact</th>
        <th>Address</th>
        <th>City</th>
        <th>Zip</th>
        <th>Phone</th>
        <th>Rooms</th>
        <th>Beds</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="hotel, iStat : ${hotelPage.content}"
        th:style="${iStat.odd}? 'font-weight: bold;'"
        th:alt-title="${iStat.even}? 'even' : 'odd'">
        <td th:text="${hotel.id}" />
        <td th:text="${hotel.category}" />
        <td th:text="${hotel.name}" />
        <td th:text="${hotel.owner}" />
        <td th:text="${hotel.contact}" />
        <td th:text="${hotel.address}" />
        <td th:text="${hotel.city}" />
        <td th:text="${hotel.cityCode}" />
        <td th:text="${hotel.phone}" />
        <td th:text="${hotel.noRooms}" />
        <td th:text="${hotel.noBeds}" />
    </tr>
    </tbody>
</table>
<br>
<div th:if="${hotelPage.hasNext()}">
    <form th:action="@{/index}" method="get">
        <input type="hidden" name="size" th:value="${hotelPage.size}" />
        <input type="hidden" name="page" th:value="${hotelPage.nextPageable().pageNumber + 1}" />
        <button type="submit" class="btn btn-secondary">Next Page</button>
    </form>
</div>

<!-- Codeende #1_Achill_10.03.2024_Overview Of Hotels -->


</body>
</html>