<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>NOE Tourismus</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<h2>Overview of Hotels</h2>

<!-- Das Formular zur Auswahl der Seitengröße -->
<form action="/index" method="get">
    <label for="pageSize">Hotels per Page:</label>
    <select name="size" id="pageSize">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="200">200</option>
        <option value="500">500</option>
        <option value="1000">1000</option>
        <option value="2000">2000</option>
    </select>
    <button type="submit">Show</button>
</form>

<table border="1">
    <thead>
    <tr>
        <th>Nr.</th>
        <th>Category</th>
        <th>Name</th>
        <th>Owner</th>
        <th>Contact</th>
        <th>Address</th>
        <th>City</th>
        <th>Zip</th>
        <th>Phone</th>
        <th>Rooms</th>
        <th>Beds</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="hotel, iStat : ${hotelPage.content}"
        th:style="${iStat.odd}? 'font-weight: bold;'"
        th:alt-title="${iStat.even}? 'even' : 'odd'">
        <td th:text="${hotel.id}" />
        <td th:text="${hotel.category}" />
        <td th:text="${hotel.name}" />
        <td th:text="${hotel.owner}" />
        <td th:text="${hotel.contact}" />
        <td th:text="${hotel.address}" />
        <td th:text="${hotel.city}" />
        <td th:text="${hotel.cityCode}" />
        <td th:text="${hotel.phone}" />
        <td th:text="${hotel.noRooms}" />
        <td th:text="${hotel.noBeds}" />
    </tr>
    </tbody>
</table>
<br>
<div th:if="${hotelPage.hasNext()}">
    <form th:action="@{/index}" method="get">
        <input type="hidden" name="size" th:value="${hotelPage.size}" />
        <input type="hidden" name="page" th:value="${hotelPage.nextPageable().pageNumber + 1}" />
        <button type="submit" class="btn btn-secondary">Next Page</button>
    </form>
</div>




</body>
</html>